body {
    background-color: #C2DED1;
  }

  hr {
    border-color: grey;
    border-style: dotted none none;
    border-width: 8px;
    width: 20%;
    
  }
  h1{
  color: #4C3575;
  }

  h3 {
  color: #4C3575;
  }